<mat-toolbar color="primary" class="navbar">
  <button mat-icon-button routerLink="/movies" aria-label="Go to movies list">
    <mat-icon>local_movies</mat-icon>
  </button>
  <span class="brand" routerLink="/movies">CineBook</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/movies" routerLinkActive="active-link">Movies</a>
  <a mat-button routerLink="/booking-summary" routerLinkActive="active-link">My Booking</a>
  <a mat-button routerLink="/feedback" routerLinkActive="active-link">Feedback</a>
</mat-toolbar>
