<ng-container *ngIf="movie$ | async as movie">
  <mat-card class="movie-detail-card">
    <img mat-card-image [src]="movie.posterUrl" [alt]="movie.title" />
    <mat-card-header>
      <mat-card-title>{{ movie.title }}</mat-card-title>
      <mat-card-subtitle>{{ movie.genre }} • {{ movie.language }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="stats">
        <span><mat-icon>schedule</mat-icon>{{ movie.durationMinutes }} mins</span>
        <span><mat-icon>star</mat-icon>{{ movie.rating }}/10</span>
        <span><mat-icon>event</mat-icon>{{ movie.releaseDate | date }}</span>
      </div>
      <p>{{ movie.description }}</p>
      <mat-chip-set aria-label="Cast">
        <mat-chip *ngFor="let actor of movie.cast" color="accent" selected>{{ actor }}</mat-chip>
      </mat-chip-set>
    </mat-card-content>
    <mat-card-actions>
      <a mat-stroked-button color="accent" routerLink="/movies">Back to list</a>
      <span class="spacer"></span>
      <a
        mat-flat-button
        color="primary"
        [routerLink]="['/showtimes', movie.id]"
        (click)="selectMovie(movie)"
      >
        View showtimes
      </a>
    </mat-card-actions>
  </mat-card>
</ng-container>
